## Data Explorer

Import data and show caracteristics

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Files/TerriData_Dim4.csv')
data.describe()

,Código Departamento,Código Entidad,Dato Cualitativo,Año,Mes
count,291756.000000,291756.000000,0.0,291756.000000,291756.000000
mean,37.739323,38155.073130,NaN,2012.710793,11.976569
std,26.066257,26037.440008,NaN,4.675819,0.151267
min,1.000000,1001.000000,NaN,2003.000000,11.000000
25%,15.000000,15673.000000,NaN,2009.000000,12.000000
50%,25.000000,25807.000000,NaN,2013.000000,12.000000
75%,66.000000,66001.000000,NaN,2017.000000,12.000000
max,99.000000,99773.000000,NaN,2020.000000,12.000000

In [3]:
data.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Educación,Acceso a la educación,Cobertura bruta en transición,"95,42",NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Educación,Acceso a la educación,Cobertura bruta en transición,"78,62",NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Educación,Acceso a la educación,Cobertura bruta en transición,"103,23",NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Educación,Acceso a la educación,Cobertura bruta en transición,"51,80",NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Educación,Acceso a la educación,Cobertura bruta en transición,"96,00",NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)